@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-slate-300;
  }
  h1 {
    @apply text-6xl font-semibold mb-5; /* 60px */
  }
  h2 {
    @apply text-5xl font-semibold; /* 48px */
  }
  h3 {
    @apply text-4xl font-semibold; /* 63px */
  }
  p {
    @apply text-xl font-normal; /* 16px */
  }
}

@layer components {
}

.home_center::after, .home_center::before {
  content: "";
  filter: blur(45px);
  position: absolute;
  transform: translateZ(0);
}

.home_center::after {
  background: linear-gradient(
    to bottom right,rgba(42, 138, 246, 1),rgba(42, 138, 246, 1),rgba(1,65,255,.3));
  opacity: 0.2;
  border-radius: 50%;
  height: 360px;
  left: -10%;
  width: 280px;
}

.home_center::before {
  background: radial-gradient(
    rgba(1,65,255,.4),rgba(168, 83, 186, 1));
  opacity: 0.4;
  height: 200px;
  right: -10%;
  width: 240px;
  z-index: -1;
}

