@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-slate-300
            overflow-x-hidden
            min-h-screen w-screen;
  }
  h1 {
    @apply text-4xl font-semibold mb-5; /* 60px */
  }
  h2 {
    @apply text-3xl font-semibold; /* 48px */
  }
  h3 {
    @apply text-2xl font-semibold; /* 63px */
  }
  p {
    @apply text-lg font-normal; /* 16px */
  }
}

@layer components {
}

.gradients::after, .gradients::before {
  content: "";
  filter: blur(45px);
  position: absolute;
  transform: translateZ(0);
}

.gradients::after {
  background: linear-gradient(
    to bottom right,rgba(42, 138, 246, 1),rgba(42, 138, 246, 1),rgba(1,65,255,.3));
  opacity: 0.1;
  border-radius: 50%;
  height: 360px;
  top: 50%;
  left: -10%;
  width: 350px;
}

.gradients::before {
  background: radial-gradient(
    rgba(1,65,255,.4),rgba(168, 83, 186, 1));
  opacity: 0.4;
  height: 200px;
  bottom: 60%;
  right: -10%;
  width: 240px;
  z-index: 10;
}

@media (max-width: 768px) {
  .gradients::before,
  .gradients::after {
    display: none;
  }
}

.company_bg {
  background-image: url("/images/capabilities_satellite_spacex.gif");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home_bg {
  background-image: url("/images/mars_landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}